.serverForm-form-text {
}
.serverForm-body-con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
}
.serverForm-descriptions-con {
}
.Descriptions-body {
  margin-top: 20px;
  width: 100%;
}
.button-serverForm-timeline {
  width: 500px !important;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}
.button-serverForm-button-timeline {
  /* margin-top: 40px;
  margin-bottom: 40px; */
  width: 150px;
  margin-right: 10px;
}
.ant-timeline-item-label {
  text-align: right;
}

.serverForm-timeline-serverForm-body {
  width: 80%;
  padding: 20px !important;
  margin-top: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serverform-Collapse {
}
.serverForm-body-outer {
  width: 100%;
}
.testAdd-Dragger-con {
  width: 100% !important;
}
.testAdd-Dragger-con-button {
  padding-top: 20px;
}
.descriptions-con-Dragger {
  width: 100%;
}
.serverForm-descriptions-con-outer {
  width: 100%;
}
.Data-load {
  width: 100%;
  height: 100%;
  background-color: rgb(247, 247, 247);
  padding: 15px;
}
.Data-load strong {
  font-weight: 700;
}
.ant-list-header {
  padding: 0 !important;
}
.card-selectMethod {
  margin-top: 20px;
  margin-bottom: 30px;
}
.serverform-Collapse-ADVANCED {
  /* width: fit-content; */
  font-weight: 700;
  font-size: large;
  padding-right: 15px;
  /* float: left; */
}
.serverform-Collapse-ADVANCED strong {
  font-weight: 700 !important;
}
.serverForm-timeline-serverForm-body
  .ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  float: right;
  margin: 8px;
  font-weight: 600 !important;
  padding-right: 30px !;
}
.ServerPage-tabs .ant-tabs-nav-wrap {
  background-color: rgb(248, 248, 248);
  border-right: 1px rgb(236, 236, 236) solid;
  border-left: 1px rgb(236, 236, 236) solid;
  border-top: 1px rgb(236, 236, 236) solid;
  box-shadow: 1px 0px 1px gray;
  padding-top: 15px;
}
.ant-tabs-tab .ant-tabs-tab-btn {
  color: gray;
}
.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: gray;
}
.serverForm-form-text-con {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 600;
  color: #747b8c;
}
.testAdd-Dragger-con p .serverForm-form-text-con{
  font-size: large;
}
.card-title-text{
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 600;
  color: #747b8c;
}
.ServerPage-tabs .ant-tabs-nav-list .ant-tabs-tab{
  width: 200px !important;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 600;
  color: #747b8c;
}