.serverForm-form-text {
}
.serverForm-body-con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
}
.serverForm-descriptions-con {
}
.Descriptions-body {
  margin-top: 20px;
  width: 100%;
}
.button-serverForm-timeline {
  width: 500px !important;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.button-serverForm-button-timeline {
  /* margin-top: 40px;
  margin-bottom: 40px; */
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 600;
  width: 150px;
  margin-right: 10px;
  border-radius: 5px;
  height: max-content;
}
.ant-timeline-item-label {
  text-align: right;
}

.serverForm-timeline-serverForm-body {
  width: 95%;
  padding: 20px !important;
  margin-top: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serverForm-timeline-serverForm-timline-outer{
  width: 100%;
}
.serverform-Collapse {
}
.serverForm-body-outer {
  width: 100%;
}
.testAdd-Dragger-con {
  width: 100% !important;
}
.testAdd-Dragger-con-button {
  padding-top: 20px;
}
.descriptions-con-Dragger {
  width: 100%;
}
.serverForm-descriptions-con-outer {
  width: 100%;
}
.Data-load {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 241);
  padding: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}
.Data-load strong {
  font-weight: 700;
}
.ant-list-header {
  padding: 0 !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card-selectMethod {
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 3px rgb(161, 161, 161);
  
}
.serverform-Collapse-ADVANCED {
  /* width: fit-content; */
  font-weight: 700;
  font-size: large;
  padding-right: 15px;
  /* float: left; */
}
.serverform-Collapse-ADVANCED strong {
  font-weight: 700 !important;
}
.serverForm-timeline-serverForm-body
  .ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  float: left;
  margin: 8px;
  font-weight: 600 !important;
  padding-right: 30px !;
}
.ServerPage-tabs .ant-tabs-nav-wrap {
  background-color: rgb(241, 241, 241);
  border-right: 1px rgb(236, 236, 236) solid;
  border-left: 1px rgb(236, 236, 236) solid;
  border-top: 1px rgb(236, 236, 236) solid;
  box-shadow: 1px 0px 1px gray;
  padding-top: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.ant-tabs-tab .ant-tabs-tab-btn {
  color: gray;
  border-radius: 5px;
}
.ant-tabs-tab-active .ant-tabs-tab-btn {
  border-radius: 5px;
  color: gray;
}
.serverForm-form-text-con {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 600;
  color: #747b8c;
  margin-bottom: 10px;
}
.testAdd-Dragger-con p .serverForm-form-text-con{
  font-size: large;
}
.card-title-text{
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 600;
  color: #747b8c;
  /* 可能会改 */
}
.ant-card-head{
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
}
.card-selectMethod{
  border-radius: 5px;

}

.ServerPage-tabs .ant-tabs-nav-list .ant-tabs-tab{
  width: 200px !important;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 600;
  color: #353535;
  background-color: rgb(241, 241, 241);

  border:none;
}
.serverForm-form-text-con-test{
  font-size: 16px;
}
.serverForm-form-text-con-test-Tooltip-QuestionCircleOutlined{
  float:right;
}
.Models-Timeline-Item-question{
  float: right;
  padding: 5px;
}
.ant-tabs-nav-list .ant-tabs-tab-active{
  background-color: rgb(255, 255, 255) !important;
}
.serverForm-timeline-serverForm-body .ant-list-header{
  background-color: rgb(241, 241, 241) !important;

}
.ant-list-something-after-last-item{
  border-radius: 10px;
}

.ant-collapse{
  border-radius: 10px;

}
.ant-list-grid{
  border-radius: 10px;
}
.ant-list-bordered{
  border-radius: 10px;
}
.switch-collapse{
  float: right;
}
.select-advance-options-item{
  width:100%;
  height: 60px;
  /* display: flex;
  justify-content: center;
  align-items: center;   */
}
.select-advance-options-item-right{
  width: 30%
}
.select-advance-options-item-left{
  width: 30%;

}
.targetSeqInput-body{
}
.targetSeq-body{
  width: 100%;
}
.predict-depart-select{
  margin: 20px;
  width: 20%;
  
}
.predict-depart-slider{
float: left;
width: 20%;
 margin-left:  20px;
 margin-top:  15px;
}
.predict-depart-text{
  float: left;
  margin-top:  20px;
}
.predict-depart{
  margin-top: 20px;
  width: 100% !important;
  height: 60px;
}
.predict-depart-outer{
  width: 100% !important;
  margin: 20px;
}
.select-Model-2Panel{
  width: 100%;
}
.select-Model-2Panel-jobid-depart{
  width: 100%;
  height: 60px;


}
.select-Model-2Panel-jobid-depart-text{
  width: max-content;
  float: left;
  margin: 10px;
  padding: 5px;
}
.select-Model-2Panel-jobid-depart-input{
  width: 30%;
  margin: 10px;
  float: left;
}
.select-Model-2Panel-jobid-depart-button{
  margin: 10px;
  float: left;
}
.panel-header-with-radio{
  width: 100%;
}
.panel-header-with-radio-con{
  float: right;
}