.Result-body {
    width: 100%;
  }
  .Result-title{
    margin: 40px auto;
    width: 100%;
    text-align: center;
    font-size: xx-large;
  }
  .Result-row{
  width: 50%;
  margin: 20px auto;
  border: 1px rgba(185, 185, 185, 0.685) solid; 
  padding: 30px;
  border-radius: 20px;
  }
  .Result-result{
    width: 50%;
    margin: 20px auto;
  
  }
  .result-zip-text{
    font-size: small;
  }
  .Result-row-pictures{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .Result-row-pictures-item{
    width: 100%;
  
  }
  .Result-row-pictures-text{
    width: 100%;
    text-align: center;
  }